/* 
font-family: 'Abel', sans-serif;
font-family: 'Eczar', serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Rubik', sans-serif;
*/


body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 10vh 0;
  font-family: 'Abel', sans-serif;
  color: #1565C0;
  color: #406796;
  position: relative;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: url(https://images.unsplash.com/photo-1688499693696-9c754d94a56e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80); */
  z-index: -1;
  opacity: .2;
  background-size: cover;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.title {

}


/* Timer */
.timer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}


.timer-message {
  /* Add your styles here */
}

.time {
  font-size: 2rem;
}

.timer-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1vw;
}

.start {
  /* Add your styles here */
}

.stop {
  /* Add your styles here */
}

.continue {
  /* Add your styles here */
}


/* List */
.list {
  width:100%;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  gap: 2vw;
  align-items: center;
}

.inputText{

}


.submitButton {
  height: fit-content;
  align-items: center;
}


/* ---- */
.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 3vw; */
  list-style: none;
  box-sizing: border-box;

padding: 0;
}


.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  margin: 2vh auto;
}



/* Youtube */
.youtube {
  width: 40vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.youtube-input {
  /* Add your styles here */
}

.youtube-frame {
  width: 100%;
  margin: 0 auto;

}


.youtube-frame iframe {
  width: 100%;
  height: 100%;
  min-height: 40vh;

}


@media all and (max-width: 768px) {
  .app {
    width: 90%;
  }

  .title {
    font-size: 1.5rem;
  }

  .timer-message {
    font-size: 1.2rem;
}

  .list {
    width: 90%;
  }


  .youtube {
    width: 90%;
  }
}